body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

section {
    margin-top: 100px;
    margin-bottom: 50px;
}

img {
    width: 55px;
    height: 55px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 10px;
}

a {
    font-size: 23px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 125px 295px 50px 295px;
    padding: 25px;
}

section h1 { 
    text-align: center;
    font-weight: 1000;
}

section a {
    font-size: 23px;
    text-decoration: none;
    color: purple;
}

article {
    background-color: white;
    border-bottom: 3px solid black;
}

h2 {
    text-align: center;
}

p {
    color: black;
}

footer {
    position: static;
    background-color:black;
}

footer h5 {
    color: white;
    padding: 30px;
    text-align: center;
}